.table {
  border-collapse: collapse;
}

.assignment {
  padding: 5px 20px 5px 10px;
}

.assignment td {
  border: 1px solid #ccc;
  padding: 5px 20px 5px 5px;
}

.assignment td:first-of-type {
  padding: 0;
}
